/* Document */

html {
    background-color: whitesmoke;
}

/* Classes */

.app-container {
    margin: 0 10px;
}

.nav-bar {
    color: whitesmoke;
    background-color: #222;
    margin: 0;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-signup {
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
    width: 50%;
    height: 500px;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.landing-forms {
    width: 50em;
    padding: 0 10px;
    margin: 0 0 0 50px;
}

/* Elements */

#title {
    margin: 0;
    font-size: 25px;
}

#logout{
    color: whitesmoke;
    font-size: 15px;
}