/* Document */

html {
    background-color: whitesmoke;
}

/* Classes */

.app-container {
    margin: 0 10px;
}

.nav-bar {
    color: whitesmoke;
    background-color: #222;
    margin: 0;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-signup {
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    width: 50%;
    margin: 150px auto;
    padding: 10px;
}

/* Elements */

#title {
    margin: 0;
    font-size: 25px;
}

#logout{
    color: whitesmoke;
    font-size: 15px;
}