/* Document */

html {
    background-color: whitesmoke;
}

h2, h3, p {
    padding: 0;
    margin: 0;
}

/* Classes */

.inline {
    display: inline-block;
}

.center {
    text-align: center;
}

.app-container {
    margin: 0 10px;
}

.nav-bar {
    color: whitesmoke;
    background-color: #222;
    margin: 0;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-signup {
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
    width: 40%;
    height: 40%;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-container {
    /* text-align: center; */
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
    width: 50%;
    height: 40%;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avatar-img {
    border: solid 3px white;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.avatar-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.avatar-container:hover {
    cursor: pointer;
}

.avatar-selection {
    border: solid 3px royalblue;
    border-radius: 10px;
}

.profile-container {
    margin: 50px;
    border: solid 2px red;
    display: flex;
    flex-direction: row;
}

.user-info {
    width: 30%;
    border: solid 2px dodgerblue;
    margin: 10px;
}

.dynamic-content {
    width: 70%;
    border: solid 2px dodgerblue;
    margin: 10px;
}

.book-container {
    width: auto;
    background: white;
    margin: 5px;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-post-container {
    width: auto;
    background: white;
    margin: 5px;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-social-content {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-actions {
    margin-left: auto;
}

.action-button {
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
}

.cover-img {
    width: "auto";
    max-width: 100px;
    height: 160px;
}

.cover-info-container {
    display: flex;
    flex-direction: row;
}

.cover-info-container-post {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.new-post-form {
    padding: 0;
    width: auto;
    height: auto;
    max-width: 700px;
}

.upper-create-form {
    display: flex;
    flex-direction: row;
}

.star-img-form {
    margin: 5px 10px 5px 0;
    width: 50px;
    height: 50px;
}

.star-img-post {
    margin: 5px 10px 5px 0;
    width: 40px;
    height: 40px;
}

.stars:hover {
    cursor: pointer;
}

.flex-column {
    margin: 0 2px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.relative-parent {
    position: relative;
    width: 0;
    height: 0;
    z-index: 2;
}

.absolute-child {
    background-color: white;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
    border: solid 1px lightgray;
    border-radius: 3px;
    position: absolute; 
    left: 140px; 
    top: -13px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.tiny-avatar {
    border: solid 1px #333;
    background-color: antiquewhite;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.search-wrapper {
    border-bottom: lightgray solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.search-wrapper-parent:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

.avatar-username {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Elements */

#search-username {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

#new-post-divider {
    margin: 5px 0 20px 10px;
    width: 20em;
}

#title-published {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title-rating-author {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 300px;;
}

#title {
    margin: 0;
    font-size: 25px;
}

#logout{
    color: whitesmoke;
    font-size: 15px;
}

#landing-img {
    width: 250px;
    height: 250px;
    margin: 0 35px 0 0;
}

#landing-title {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;
}

#landing-subtitle {
    text-align: center;
    margin: 0;
    padding: 0;
}

#log-link-btn {
    color: tomato;
    outline: none;
    border: none;
    background: none;
    font-size: 17px;
}

#log-link-btn:hover {
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

#login-btn {
    color: white;
}

#profile-pic {
    padding: 5px;
    width: 200px;
    height: 200px;
    border: solid 10px #333;
    border-radius: 40px;
}

#by-author {
    font-size: large;
    margin: 0;
}

#book-title {
    font-size: 20px;
    margin: 5px 0 0;
}

#book-publisher {
    margin: 0 0 5px;
    font-size: 15px;
}

#create-post-title {
    font-size: 40px;
}

#create-post-img {
    width: 10em;
    height: "auto";
}

#create-post-author {
    font-size: 20px;
}


